<main style="text-align: center" >
  <h1>
    {{ title }}
  </h1>

  <div style="text-align: center">
    <rl-carousel>
      <rl-carousel-slide [imageUrl]="'../assets/images/squirrel.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/capybara.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/meerkats.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/fawn.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/cat.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/cat.jpg'"></rl-carousel-slide>
    </rl-carousel>
  </div>

  <div style="text-align: center">
    <rl-carousel>
      <rl-carousel-slide [imageUrl]="'../assets/images/fawn.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/cat.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/capybara.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/squirrel.jpg'"></rl-carousel-slide>
      <rl-carousel-slide [imageUrl]="'../assets/images/meerkats.jpg'"></rl-carousel-slide>
    </rl-carousel>
  </div>
</main>


